body {
    background-image: url("https://i.imgur.com/5TkrmPx.jpg");
    padding-top: 50px;
    padding-bottom: 20px;
    font: 14px/20px Arial,San-Serif;
    color: #555;
    margin: 0;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: gainsboro;
    opacity: 0.96;
    filter: alpha(opacity=90);
   
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
header {
    background: #405580;
    width: 100%;
    height: 86px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.90;
}




h1 {
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    padding: 5% 0;
}

h2 {
    text-decoration: underline;
    line-height: 280%;
    padding-left: 2%;
}

h3 {
    line-height: 110px;
    padding: 5% 0;
}

p {
    padding: 1%;
}
nav {
    float: right;
    padding: 35px 20px 20px 0px;
}


a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 10px;
    text-decoration:underline;
}




/*<a href="https://ibb.co/ciGigS" > <img src="https://thumb.ibb.co/ciGigS/Doors2.jpg" alt="Doors2" border="0" > </a > 
[url=https://ibb.co/ciGigS][img]https://preview.ibb.co/n8GigS/Doors2.jpg[/img][/url]*/